<h1>Editing jobs candidate</h1>

<%= render "form" %>

<br>

<div>
  <%= link_to "Show this jobs candidate", admin_jobs_candidate_path(@jobs_candidate) %> |
  <%= link_to "Back to jobs candidates", admin_jobs_candidates_path %>
</div>
