<p style="color: green"><%= notice %></p>

<h1>Candidates</h1>

<div id="candidates">
  <% @presenter.candidates.each do |candidate| %>
    <%= render candidate %>
    <p>
      <%= link_to "Show this candidate", admin_candidate_path(candidate) %>
    </p>
  <% end %>
</div>

<%= link_to "New candidate", new_admin_candidate_path %>
