<h1>Editing recruiter</h1>

<%= render "form" %>

<br>

<div>
  <%= link_to "Show this recruiter", admin_recruiter_path(@recruiter) %> |
  <%= link_to "Back to recruiters", admin_recruiters_path %>
</div>
