<p style="color: green"><%= notice %></p>

<h1>Recruiters</h1>

<div id="recruiters">
  <% @presenter.recruiters.each do |recruiter| %>
    <%= render recruiter %>
    <p>
      <%= link_to "Show this recruiter", admin_recruiter_path(recruiter) %>
    </p>
  <% end %>
</div>

<%= link_to "New recruiter", new_admin_recruiter_path %>
