<h1>Editing point of contact</h1>

<%= render "form", point_of_contact: @point_of_contact %>

<br>

<div>
  <%= link_to "Show this point of contact", @point_of_contact %> |
  <%= link_to "Back to point of contacts", point_of_contacts_path %>
</div>
