<h1>Editing point of contact</h1>

<%= render "form" %>

<br>

<div>
  <%= link_to "Show this point of contact", admin_point_of_contact_path(@point_of_contact) %> |
  <%= link_to "Back to point of contacts", admin_point_of_contacts_path %>
</div>
